.FILES-UPLOAD label.cabinet
{
	width: 105px;
	height: 26px;
	background: url(../../img/choose-file-2.png) 0 0  no-repeat;

	display: block;
	overflow: hidden;
	cursor: pointer;
	z-index: 200;
}

.FILES-UPLOAD label.cabinet input.file
{
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	-moz-opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	z-index: 202;
}