@media all {	
/* application tabs */
	
	.ui-tabs .ui-tabs-nav li.ui-tabs-selected {margin-bottom:0; padding-bottom:1px;}

	.ui-tabs .ui-tabs-nav li {border-bottom:0 none !important; 
		float:left;
		list-style:none outside none;
		margin:0 0.2em 1px 0;
		padding:0;
		position:relative;
		top:1px;
		white-space:nowrap;
	}

	.ui-widget :active {
		outline:medium none;
	}

	.ui-corner-top {
		-moz-border-radius-topleft:2px;
		-moz-border-radius-topright:2px;
	}

	.ui-tabs .ui-tabs-nav li a {
		float:left;
		padding:0.5em 1em;
		text-decoration:none;
	}

	.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
		color:#0A5599;
		text-decoration:none;
	}

	.ui-widget-header a {
		color:#444444;
	}

		.ui-widget-content a {
		color:#444444;
	}
	
	.ui-tabs {
		padding:0.2em;
		position:relative;
	}

	.ui-corner-all {
		-moz-border-radius:2px 2px 2px 2px;
	}

	.ui-widget-content {
		background:url("../../img/tab/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #FFFFFF;
		border:1px solid #DDDDDD;
		color:#444444;
	}

	.ui-widget {
		font-family:verdana !important;
		font-size:13px;
	}	
	
	.ui-tabs .ui-tabs-nav {
		margin:0;
		padding:0.2em 0.2em 0;
	}

	.ui-widget-header {
		background:url("../../img/tab/ui-bg_highlight-soft_50_dddddd_1x100.png") repeat-x scroll 50% 50% #DDDDDD;
		border:1px solid #DDDDDD;
		color:#444444;
		font-weight:bold;
	}

	.ui-helper-clearfix {
		display:block;
		display:inline-block;
	}

	.ui-helper-reset {
		border:0 none;
		font-size:100%;
		line-height:1.3;
		list-style:none outside none;	
		margin:0;
		outline:0 none;
		padding:0;
		text-decoration:none;
	}
	
	.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
		margin-bottom:0;
		padding-bottom:1px;
	}

	.ui-tabs .ui-tabs-nav li {
		border-bottom:0 none !important;
		float:left;
		list-style:none outside none;
		margin:0 0.2em 1px 0;
		padding:0;
		position:relative;
		top:1px;
		white-space:nowrap;
	}

	.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
		border:1px solid #DDDDDD;
		color:#0C5298;
		font-weight:bold;
	}
	
	.ui-tabs .ui-tabs-nav li {
		border-bottom:0 none !important;
		float:left;
		list-style:none outside none;
		margin:0 0.2em 1px 0;
		padding:0;
		position:relative;
		top:1px;
		white-space:nowrap;
	}

	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		border:1px solid #DDDDDD;
		color:#0A5599;
		font-weight:bold;
	}

	.ui-corner-top {
		-moz-border-radius-topleft:2px;
		-moz-border-radius-topright:2px;
	}
	
	.jobsColor {
		background: #8A8A8A;
	}
	
	.reColor {
		background: #9F9F9F;
	}
	
	.adsColor {
		background: #E8E8E8;
	}
	
	.disabledColor {
		background: #F0EDE9;
	}
	
	.jobsColor p, .reColor p, .adsColor p {
		padding:8px;
	}
	
	.disabledColor a {
		cursor: default;
	}
	
	.disabledColor a:hover {
		color: #444444; 
	}
}