/*
	© 2007 by namics ag, Noël Bossart
*/

@media all {
	.widthAuto 				{ width: auto; padding-right: 25px; }
	img.icon 				{ margin-bottom:-5px; }
	.icon2 					{ float: left; width:auto; display: block; margin: 5px 5px 20px 0; }
	.iconplus				{ position:relative; top:5px; }
	.notstrong 				{ font-weight: normal !important; }   
	.strong 				{ font-weight: bold; }
    
    .float-no				{ float: none; } 
	.float-l				{ float: left; width: auto; }
	.float-r				{ float: right; width: auto; }                                           

	table.border-no tr td,
	tr.border-no td,
	tr.border-no th,
	tr th.border-no,
    tr td.border-no,
	dl dd.border-no, 
	dl dt.border-no, 
	dl.border-no dd, 
	dl.border-no dt,
	.border-no				{ border: none !important; }    
	
	.border-b		 		{ border-bottom: 1px solid #BDB6AE; }    
	.border-y		 		{ border-top: 1px solid #BDB6AE; border-bottom: 1px solid #BDB6AE; }    
	.border-light-y		 	{ border-top: 1px solid #F0EDE9; border-bottom: 1px solid #F0EDE9; }
	.border-white-y		 	{ border-top: 1px solid #fff; border-bottom: 1px solid #fff; }    
	 
	.border-blue			{ border: 1px solid #0a5599; }         
	.border-white-10		{ border: 10px solid #fff; }   
	
	.rel					{ position: relative; }
	.abs					{ position: absolute; }            
	
	.bottom					{ bottom: 0; }
 		
	.inline					{ display: inline; }
	.block					{ display: block; }
	.width-flex				{ display: block; float: left; width: auto; }
   		 
	.padding-no				{ padding: 0; }    
	
	.padding-1	 			{ padding: 1px; }     
	.padding-t-1 			{ padding-top: 1px; }
	.padding-b-1 			{ padding-bottom: 1px; }  
	.padding-l-1 			{ padding-left: 1px; }
	.padding-r-1 			{ padding-right: 1px; } 
	.padding-x-1			{ padding-left: 1px; padding-right: 1px; }
	.padding-y-1			{ padding-top: 1px; padding-bottom: 1px; }

	.padding-2	 			{ padding: 2px; }     
	.padding-t-2 			{ padding-top: 2px; }
	.padding-b-2 			{ padding-bottom: 2px; }  
	.padding-l-2 			{ padding-left: 2px; }
	.padding-r-2 			{ padding-right: 2px; } 
	.padding-x-2			{ padding-left: 2px; padding-right: 2px; }
	.padding-y-2			{ padding-top: 2px; padding-bottom: 2px; }    
	
	.padding-5	 			{ padding: 5px; }      
	.padding-t-5 			{ padding-top: 5px; }
	.padding-b-5 			{ padding-bottom: 5px; }  
	.padding-l-5 			{ padding-left: 5px; }
	.padding-r-5 			{ padding-right: 5px; } 
	.padding-x-5			{ padding-left: 5px; padding-right: 5px; }
	.padding-y-5			{ padding-top: 5px; padding-bottom: 5px; }
	
	.padding-7	 			{ padding: 7px; }      
	.padding-t-7 			{ padding-top: 7px; }
	.padding-b-7 			{ padding-bottom: 7px; }  
	.padding-l-7 			{ padding-left: 7px; }
	.padding-r-7 			{ padding-right: 7px; } 
	.padding-x-7			{ padding-left: 7px; padding-right: 7px; }
	.padding-y-7			{ padding-top: 7px; padding-bottom: 7px; }   
	
	.padding-10	 			{ padding: 10px; }
	.padding-t-10 			{ padding-top: 10px; }
	.padding-b-10 			{ padding-bottom: 10px; } 
	.padding-l-10 			{ padding-left: 10px; }
	.padding-r-10 			{ padding-right: 10px; }
	.padding-x-10			{ padding-left: 10px; padding-right: 10px; }
	.padding-y-10			{ padding-top: 10px; padding-bottom: 10px; }
	
	.margin-no 				{ margin: 0; }  
	 
	.margin-y-1			 	{ margin-top: 1px; margin-bottom: 1px; }
	
	.margin-2	 			{ margin: 2px; }  
	.margin-t-2 			{ margin-top: 2px; }
	.margin-b-2 			{ margin-bottom: 2px; }
	.margin-l-2 			{ margin-left: 2px; }
	.margin-r-2 			{ margin-right: 2px; }
	.margin-x-2				{ margin-left: 2px; margin-right: 2px; }
	.margin-y-2				{ margin-top: 2px; margin-bottom: 2px; }
	
	.margin-5	 			{ margin: 5px; }  
	.margin-t-5 			{ margin-top: 5px; }
	.margin-b-5 			{ margin-bottom: 5px; }
	.margin-l-5 			{ margin-left: 5px; }
	.margin-r-5 			{ margin-right: 5px; }
	.margin-x-5				{ margin-left: 5px; margin-right: 5px; }
	.margin-y-5				{ margin-top: 5px; margin-bottom: 5px; }    
	.margin-t-m5			{ margin-top: -5px; }
	.margin-l-m5			{ margin-left: -5px; }     
	
	.margin-7	 			{ margin: 7px; }  
	.margin-t-7 			{ margin-top: 7px; }
	.margin-b-7 			{ margin-bottom: 7px; }
	.margin-l-7 			{ margin-left: 7px; }
	.margin-r-7 			{ margin-right: 7px; }
	.margin-x-7				{ margin-left: 7px; margin-right: 7px; }
	.margin-y-7				{ margin-top: 7px; margin-bottom: 7px; }
	
	.margin-10	 			{ margin: 10px; }     
	.margin-t-10 			{ margin-top: 10px; }
	.margin-b-10 			{ margin-bottom: 10px; }
	.margin-l-10 			{ margin-left: 10px; }
	.margin-r-10 			{ margin-right: 10px; }
	.margin-x-10			{ margin-left: 10px; margin-right: 10px; }
	.margin-y-10			{ margin-top: 10px; margin-bottom: 10px; }	
	
	.width-auto				{ width: auto; }	     
 	.width-100				{ width: 100px; }	     
 	.width-125				{ width: 125px; }	     
 	.width-130				{ width: 130px; }	     
 	.width-150				{ width: 150px; }	    
 	.width-175				{ width: 175px; }	    
 	.width-200				{ width: 200px; }	    
 	.width-225				{ width: 225px; }	    
 	.width-250				{ width: 250px; }	    
    
	.width-50p				{ width: 49.9%; }
			
	.width-tb-inner			{ width: 593px; }
	.width-tb-inner-10		{ width: 583px; }
	.width-tb-inner-20		{ width: 573px; }
	.width-tb-inner-30		{ width: 563px; }
	.width-tb-inner-35		{ width: 558px; }
    .width-tb-inner-40		{ width: 553px; }
	.width-tb-inner-50		{ width: 543px; } 
	
	.width-input-s           { width: 0px; }
	.width-input-xs          { width: 0px; }
	.width-input-m           { width: 0px; }
	.width-input-l           { width: 255px; }
	.width-input-x           { width: 0px; }
	.width-input-xl          { width: 0px; }
	.width-input-xxl         { width: 0px; }
	
	.minheight-5 			{ min-height: 5px; }
	.minheight-10			{ min-height: 10px; }
	.minheight-20			{ min-height: 20px; }
	.minheight-30			{ min-height: 30px; }
    .minheight-40			{ min-height: 40px; }
	.minheight-50			{ min-height: 50px; }		
	.minheight-75			{ min-height: 75px; }		
	.minheight-100			{ min-height: 100px; } 
	
	.height-5 				{ height: 5px; }
	.height-10				{ height: 10px; }
	.height-20				{ height: 20px; }
	.height-30				{ height: 30px; }
    .height-40				{ height: 40px; }
	.height-50				{ height: 50px; }		
	.height-75				{ height: 75px; }		
	.height-100				{ height: 100px; }    
       
	.valign-t,
	tr.valign-t td 			{ vertical-align: top; }      
	
	.valign-c,
	tr.valign-c td			{ vertical-align: middle; }    
	
	.valign-b,
	tr.valign-b td			{ vertical-align: bottom; }   
	
	.display-no				{ display: none; }        
	
	.labelbox-100 label		{ float: left; width: 90px; text-align: right; display: block; padding-right: 10px; } 
	.labelbox-125 label		{ float: left; width: 115px; text-align: right; display: block; padding-right: 10px; } 
	.labelbox-150 label		{ float: left; width: 140px; text-align: right; display: block; padding-right: 10px; } 
	.labelbox-200 label		{ float: left; width: 190px; text-align: right; display: block; padding-right: 10px; } 

	.color-grey,
	a.color-grey,
	a.color-grey:visited,     	  
	a.color-grey:hover  	{ color: #736F6A; } 
	     
	.color-white,
	a.color-white, 
	a.color-white:visited,
	a.color-white:hover		{ color: #fff; }
	   
	.highlight				{ background-color: #D6ECC8; }
	.highlight label		{ color: #736F6A; }    
	
	.info					{ background-color: #E5E5FF; color: #151573; }
	.info a,
	.info a:link,
	.info a:visited,
	.info a:hover			{ color: #0a5599; }             
	
	.icon-t-r				{ position:absolute; top:-1px; right:-1px; } 
	.icon-ok-r				{ background-image: url(../img/msg_icon_confirm_small.gif); background-position: 98% 50%; background-repeat: no-repeat; }
			
	.bg-grey-1		 		{ background-color: #DFDAD2; }
	.bg-grey-2		 		{ background-color: #E9E9E9; }
	.bg-white 				{ background-color: #fff; }
				
	.list-style-no   		{ list-style-type: none; list-style: none; }      
}
