@media print {
	/* Print CSS for Thickbox */   
	
	html * {
		float:none !important; background: #fff !important;	}
	
	body 		{  width:16.2cm !important;overflow:visible !important; font-size:10pt; color:#000; }
	
	div#main,
	#processnav,
	#processnav_sub,
	#TB_closeBar,
	#TB_closeAjaxWindow,
	#TB_closeWindowButton,
	img { display:none; }
	
	#TB_ajaxContent {display:inline !important; padding-left:0 !important; }
	
	#TB_window,
	fieldset { position:relative; border:none !important; }
	 
	#TB_window { margin:0 !important; left:1% !important; top:0 !important; }
		
	h2 { border-bottom:3px solid #a8a8a8; margin-bottom:10px; width:16.2cm !important; }
	
	table { width:12.2cm !important; }
	
	.linegroup,
	.tabs .tabbody,
	dt,
	dd  { border:none !important;}
	
	.tabs .tabbody { padding:0 0 10px 0; margin-top:10px; }
	.tabs ul.tablist {padding-left:0;}
	
	.tabs ul.tablist,
	.tabs ul.tablist li.active {background:none;}
	
	.tabs ul.tablist li { display:none;}
	.tabs ul.tablist li.active {display:block;  border-bottom:1px solid #a8a8a8 !important; text-align:left; width:16.2cm;}
	
	dd { padding:2px 0 0 10px !important;}
	
	fieldset { margin-bottom:10px !important; width:16.2cm !important; border:none !important; }
	fieldset table td { padding:0 !important; }
	legend { border-bottom:1px solid #99948d !important; margin-bottom:5px !important; width:100% !important; }
	
	h6.rtetitle { border: none !important; font-weight:bold; line-height:70px;/*ie*/ height:70px; /*firefox*/  }
	
	
	iframe * { display:inline !important; }
	.mceEditorIframe { border:1px solid #a8a8a8 !important; }
	
	
}