/* 
	© 2008 by namics ag, Noel Bossart
*/

@media all {                                               

	#s3627-00 .online .labelbox 		{ _width: 483px; }
	#s3657-00 .online .labelbox 		{ _width: 483px; }
	#s3665-00 .online .labelbox 		{ _width: 483px; }
			
	#s3696-00 .tabbody		 			{ _padding-right: 0; }    
		#s3696-10 fieldset				{ _margin-right: 25px;}

		#s3696-10 .leftside				{ margin-right: 30px; _margin-right: 24px; }
		#s3696-10 .rightside			{ margin: 0; }                                
		
       	#s3696-30 .googlemaps 			{ _width: 90%; } 	
}